@font-face {
    font-family: 'YdestreetB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(135deg, #2200F3,#7B00A6 40%, #CB0000);
    justify-content: center;
    align-items: flex-start;
    font-family: 'YdestreetB';
    padding-top: calc(40 / 1024 * 100vh);
}

.content {
    text-align: center;
    color: white;
}

.title{
    display : flex;
    
    color : white;
    font-size: 5em;
    letter-spacing: 2px;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}
.sizedboox_undertitle{
    height: calc(40 / 1024 * 100vh);
}

.sizedbox_mainframe{
    display: flex;
    color:black;
    height: calc(100 / 1024 * 100vh);
    width:300px;
    display : flex;
}
